<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">Prediksi Topik Skripsi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of menus">
          <a class="nav-link" href="" [routerLink]="item.url" [routerLinkActive]="'active'">{{item.label}}</a>
        </li>
      </ul>
      <div class="flex-grow">

      </div>
      <div class="d-flex">
        <button class="btn btn-outline-light" (click)="login()"  type="button" *ngIf="!currentUser">Login</button>
        <button class="btn btn-outline-light" (click)="logout()" type="button" *ngIf="currentUser">Logout</button>
      </div>
    </div>
  </div>
</nav>
