<section>
  <!-- <strong>{{title}}</strong> -->

  <div class="row mt-3">
    <div class="col-md-12">
      <div class="p-2 d-flex justify-content-between align-items-center border-bottom border-primary border-1">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-outline-dark d-flex justify-content-between align-items-center" (click)="deleteSelected(select.selection.selected)" [disabled]="select.selection.selected.length == 0">
            <mat-icon>delete_outline</mat-icon>
            <span>Delete Selected</span>
            <span>({{select.selection.selected.length}})</span>
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="add()">{{addBtnLabel}}</button>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="card">
    <div class="card-body">

      <div class="table-responsive bordered">
        <table mat-table [dataSource]="data" matSort matSortDisableClear
        [matSortActive]="sortActive"
        [matSortDirection]="sortDirection"
        >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="col-checkbox">
            <div class="form-check font-size-16">
              <input type="checkbox" class="form-check-input" id="bakuMutuHeadCheckbox" (change)="$event ? select.masterToggle() : null" [checked]="selection.hasValue() && select.isAllSelected()" [indeterminate]="selection.hasValue() && !select.isAllSelected()" [disabled]="!select.source">
              <label class="form-check-label" for="bakuMutuHeadCheckbox"></label>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" class="col-checkbox">
            <div class="form-check font-size-16">
              <input type="checkbox" class="form-check-input" id="bakuMutuCheckbox{{row.id}}" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              <label class="form-check-label" for="bakuMutuCheckbox{{row.id}}"></label>
            </div>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let row; let i = index"> {{parseNo(i)}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="prodi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prodi </th>
          <td mat-cell *matCellDef="let row"> {{row.prodi_rel?.nama }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nim">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NIM </th>
          <td mat-cell *matCellDef="let row"> {{row.nim}} - {{row.mahasiswa?.nama}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="tahun">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tahun </th>
          <td mat-cell *matCellDef="let row"> {{row.tahun}} </td>
        </ng-container>
         <ng-container matColumnDef="judul">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Judul </th>
          <td mat-cell *matCellDef="let row"> {{row.judul}} </td>
        </ng-container>
        <ng-container matColumnDef="topik">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Topik </th>
          <td mat-cell *matCellDef="let row"> {{row.topik_rel?.nama}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="col-actions"> Actions</th>
          <td mat-cell *matCellDef="let row" class="col-actions">
            <button class="btn btn-table-action update btn-sm me-2" title="Update" (click)="edit(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btn-table-action delete btn-sm" title="Delete" (click)="remove(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <!-- Pagination -->
    <mat-paginator [length]="dataLength"
    [pageSize]="q.limit"
    [pageSizeOptions]="pageSizeOption"
    (page)="onPageChange($event)">
  </mat-paginator>

</div>
</div>
</section>
